.video-js.vjs-Tarplayer .vjs-text-track-cue>div {
    display: inline-block !important;
    background-color: rgba(0, 0, 0, .5) !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: .25em;
    border-radius: .25em
}

.video-js.vjs-Tarplayer .vjs-text-track-display {
    bottom: 6em
}

.video-js.vjs-Tarplayer.vjs-user-inactive.vjs-playing .vjs-text-track-display {
    bottom: 3.5em
}

.video-js.vjs-Tarplayer {
    font-family: inherit;
}

.video-js.vjs-Tarplayer:hover .vjs-big-play-button,
.video-js.vjs-Tarplayer.vjs-big-play-button:focus {
    background-color: transparent;
    opacity: 0.7;
}

.video-js.vjs-Tarplayer .vjs-big-play-button {
    width: 88px;
    height: 88px;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background: url('/assets/Icons/play-btn.svg');
    border: none;
    top: 50%;
    left: 50%;
    margin-top: -44px;
    margin-left: -44px;
}

.video-js.vjs-Tarplayer .vjs-big-play-button .vjs-icon-placeholder {
    display: none;
}

.video-js.vjs-Tarplayer .vjs-button>.vjs-icon-placeholder::before {
    line-height: 2.2;
}

.video-js.vjs-Tarplayer .vjs-time-control {
    line-height: 3.9;
}

.video-js.vjs-Tarplayer .vjs-control-bar {
    height: 4em;
    background-color: #16161a;
}

.video-js.vjs-Tarplayer .vjs-volume-vertical {
    background-color: #16161a;
}

.video-js .vjs-volume-panel .vjs-volume-control.vjs-slider-active.vjs-volume-vertical,.video-js .vjs-volume-panel .vjs-volume-control:active.vjs-volume-vertical,.video-js .vjs-volume-panel.vjs-hover .vjs-mute-control~.vjs-volume-control.vjs-volume-vertical,.video-js .vjs-volume-panel.vjs-hover .vjs-volume-control.vjs-volume-vertical,.video-js .vjs-volume-panel:active .vjs-volume-control.vjs-volume-vertical,.video-js .vjs-volume-panel:focus .vjs-volume-control.vjs-volume-vertical {
    left: -3.211007000000002em;
}

.video-js.vjs-Tarplayer .vjs-play-progress {
background-color: #ef2929;
}

.video-js.vjs-Tarplayer .vjs-progress-control .vjs-progress-holder {
    font-size: 1.66667em;
}

.video-js .vjs-play-progress:before {
    color: #ef2929;
}

.video-js .vjs-slider {
    background-color: #1d1d22;
}

.video-js .vjs-load-progress {
    background: rgba(65, 65, 65, 0.5)
}
